nav {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: grey;
    position: absolute;
    right: 0;
    top: 1rem;
    z-index: 1;
}

nav a, nav button {
    font: inherit;
    font-weight: 600;
    color: var(--heading-color);
    text-decoration: none;
    background: none;
    border: 0;
    cursor: pointer;
}

a {
    color: var(--heading-color);
    background: none;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: none;
    color: var(--accent-color);
  }

.current {
    font-weight: bolder;
    border-bottom: 2px solid;
}