@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'DotGothic16', sans-serif; */

body {
    color: black;
    background: url(https://wallpapercave.com/wp/cAmaUYh.jpg);
    font-family: 'Dosis', sans-serif;
    font-size: larger;
    text-align: center;
  }

  /* NAV BAR */ 
  #nav-position {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 20px;
  }

  a#nav-visual {
    text-decoration: none;
    padding-left: 10px;
  }

  ul {
    text-transform: uppercase;
    font-size: smaller;
  }
 
  li.nav-only {
    display: inline;
    padding: 4px;
  } 
  /* END OF NAVBAR */

section#introduction{
    background: rgba(255,255,255,0.5);
    margin: 40px 140px;
    border: 4px dotted plum;
    padding-bottom: 30px;
  }  

  h1 {
    font-family: 'DotGothic16', sans-serif;
    font-size: 35px;
    color: darkslateblue;
    padding-top: 50px;

  }

  .img-circle {
    border-radius: 60%;
    border: 3px solid hotpink;
  }