@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'DotGothic16', sans-serif; */

body {
    color: black;
    background: url(https://wallpapercave.com/wp/cAmaUYh.jpg);
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }

  ul#mynav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    background: rgb(245, 88, 206, 0.4);
  }
 
  li.nav-only {
    display: inline;
    padding: 4px;
  }

section#introduction{
    background: rgba(255,255,255,0.5);
    margin: 40px 140px;
    border: 4px dotted plum;
    padding-bottom: 30px;
  }  

  h1 {
    font-family: 'DotGothic16', sans-serif;
    font-size: 35px;
    color: darkslateblue;

  }

  .img-circle {
    border-radius: 60%;
    border: 3px solid hotpink;
  }