@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'DotGothic16', sans-serif; */

body {
  --accent-color: darkslateblue;
  --text-color: darkslateblue;
  --transition-delay: 1s;
  
  background: url(https://wallpapercave.com/wp/cAmaUYh.jpg);
  font-family: 'Dosis', sans-serif;
  overflow: hidden;
}