@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'DotGothic16', sans-serif; */

body {
  --accent-color: darkslateblue;
  --text-color: darkslateblue;
  --transition-delay: 1s;
  
  background: url(https://wallpapercave.com/wp/cAmaUYh.jpg);
  font-family: 'Dosis', sans-serif;
  overflow: hidden;
}

 /* 
.project-container {
  border: solid 2px red;
  /* position: relative; 
  width: 100%; 
  height: 80vh; 
  box-sizing: border-box;
  margin: 0; 
  padding: 0;  
  display: flex;
  align-items: center;
}

.slider {
  border: solid 2px purple;
  min-width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
} 
*/