@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
/* font-family: 'Roboto Mono', monospace;
font-family: 'Dosis', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  --accent-color: darkslateblue;
  --text-color: darkslateblue;
  --transition-delay: 1s;
  
  background: url(https://wallpapercave.com/wp/cAmaUYh.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Dosis', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 1rem;
}

.intro-container {
  margin: 0;
  padding: 2rem 6rem 2rem 6rem;
  width: 100%;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 2px orange; */
}

h1 {
  margin-bottom: 50px;
}

h3 {
  padding-bottom: 20px;
}

h5 {
  text-align: center;
}

.tech-icons {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: flex-end;
}

.tech-icon i, svg {
  font-size: 3rem;
  padding-bottom: 4px;
  color: rgb(49, 49, 49);
}

.tech-icon {
  display: flex;
  flex-basis: 180px;
  padding-bottom: 20px;
  flex-direction: column;
  align-items: center;
}

.tech-icon:hover {
  transform: scale(1.1);
}

.projects-container{
  position: relative; 
  width: 100%;
  /* box-sizing: border-box; */
  margin: 0 auto; 
  padding: 4rem 4rem 0rem 4rem;  
  display: flex;
  flex-direction: column;
}

.project-container {
  border: solid 2px purple;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px;
  padding: 3rem;
  background-color: rgba(255, 233, 243, 0.6);
} 

p.project-description {
  max-width: 400px;
  padding-right: 12px;
}

p.project-technologies {
  font-family: 'Roboto Mono', monospace;
  font-size: smaller;
  max-width: 400px;
  padding-right: 12px;
  color: rgb(90, 90, 90)
}

.project-img {
  max-width: 600px;
  max-height: 430px;
  border-radius: 10px;
  border: 3px solid rgb(250, 206, 237);
  cursor: pointer;
}

.project-img:hover {
  transform: scale(1.02);
}

.img-circle {
  position: fixed;
  top: 1em;
  left: 1em;
  border-radius: 60%;
  border: 3px solid hotpink;
  max-height: 70px;
  max-width: 70px;
  z-index: 1;
}

.center-align {
  display: flex;
  justify-content: center;
}

button.visit-website, button.visit-repo {
  background: rgb(232, 169, 252);
  border: none;
  border-radius: 3px;
  padding: 8px;
  margin-top: 30px;
  margin-right: 8px;
}

.scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
}

button.scroll-up, .fa-chevron-up, #back-button {
  font-size: 2rem;
  border: none;
  background: none;
  padding: 20px;
  margin-bottom: 10px;
  animation: hover-vertical 2s ease infinite;
  position: relative;
}

@keyframes hover-vertical {
  0%,
		100% {
    top: 0;
  }

  50% {
    top: 20px;
  }
}

.scroll-to-top:hover {
  transform:scale(1.002);
  color: rgb(70, 70, 70);
}

.visit-website:hover, .visit-repo:hover {
  transform: scale(1.05);
}

i.fa-external-link-alt {
  font-size: smaller;
}

@media only screen and (max-width: 800px) {
 
  body {
    background-size: cover;
    overflow: auto;
  }

  .intro-container {
    padding: 2rem 0rem 2rem 0rem;
  }

  .projects-container {
    flex-direction: column;
    padding: 0;
  }

  .project-container {
    padding: 0.5rem;
    margin: 0;
    margin-bottom: 8rem;
    flex-direction: column;
  }

  .project-img {
      max-height: 400px;
      max-width: 100%;
      height: auto;
      margin-top: 1rem;
    }
}